<link rel="stylesheet" href="/css/changepassword.css">

<div class="container">
    <div class="shadow rounded p-5 m-auto w-50 bg-light">
        {{#if email}}
            <h2 class="text-success">Đổi mật khẩu</h2>
        {{else}}
            <h2 class="text-primary">Đổi mật khẩu</h2>
        {{/if}}
    
        <div class="mb-3">
            <div class="form-group">
                <label for="currentPassword">Mật khẩu hiện tại:</label>
                <input type="password" class="form-control shadow-none" id="currentPassword" name="currentPassword">
            </div>

            <div class="form-group">
                <label for="newPassword">Mật khẩu mới:</label>
                <input type="password" class="form-control shadow-none" id="newPassword" name="newPassword">
            </div>

            <div class="form-group">
                <label for="confirmPassword">Nhập lại mật khẩu mới:</label>
                <input type="password" class="form-control shadow-none" id="confirmPassword" name="confirmPassword">
            </div>

            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="showPassword" name="showPassword" onchange="showPassword()">
                <label class="custom-control-label" for="showPassword">Hiện mật khẩu</label>
            </div>

            {{#if email}}
                <button class="btn btn-success" onclick="changePassword()">Đổi mật khẩu</button>
            {{else}}
                <button class="btn btn-primary" onclick="changePassword()">Đổi mật khẩu</button>
            {{/if}}
        </div>

        <div class="alert alert-danger d-none" id="error"></div>
        <div class="alert alert-success d-none" id="success"></div>
    </div>
</div>

<script src="/js/changepassword.js"></script>