<div class="container">
    <h2>Đổi mật khẩu</h2>
    
   <div class="mb-3">
        <div class="form-group">
            <label for="currentPassword">Mật khẩu hiện tại:</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword">
        </div>

        <div class="form-group">
            <label for="newPassword">Mật khẩu mới:</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword">
        </div>

        <div class="form-group">
            <label for="confirmPassword">Nhập lại mật khẩu mới:</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
        </div>

        <button class="btn btn-primary" onclick="changePassword()">Đổi mật khẩu</button>
    </div>

    <div class="alert alert-danger d-none" id="error"></div>
    <div class="alert alert-success d-none" id="success"></div>
</div>

<script src="/js/changepassword.js"></script>