<div class="container">
    <div class="row">
        <h2>Danh sách sản phẩm trong lịch sử giao dịch</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sản phẩm</th>
                    <th>Giá</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Sản phẩm 1</td>
                    <td>$10.00</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Sản phẩm 2</td>
                    <td>$20.00</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Sản phẩm 3</td>
                    <td>$15.00</td>
                </tr>
                <!-- Thêm sản phẩm khác tại đây -->
            </tbody>
        </table>
    </div>
</div>