<link rel="stylesheet" href="/css/productManagement.css">

<div class="container-fluid">
    <form action="#" method="post">
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-12">
                <label for="barcode">Barcode:</label>
                <input type="text" class="form-control" placeholder="VD: 91238129" id="barcode" name="barcode">
            </div>

            <div class="form-group col-lg-4 col-md-6 col-12">
                <label for="productName">Tên sản phẩm:</label>
                <input type="text" class="form-control" placeholder="VD: Iphone 15" id="productName" name="productName">
            </div>

            <div class="form-group col-lg-4 col-md-6 col-12">
                <label for="category">Danh mục:</label>
                <select name="category" class="custom-select" id="category">
                    <option selected value="Phone">Điện thoại</option>
                    <option value="Tablet">Máy tính bảng</option>
                    <option value="Watch">Đồng hồ thông minh</option>
                    <option value="Adapter">Cục sạc</option>
                    <option value="Cable">Dây sạc</option>
                </select>        
            </div>

            <div class="form-group col-lg-4 col-md-6 col-12">
                <label for="importPrice">Giá nhập:</label>
                <input type="number" class="form-control" id="importPrice" name="importPrice" min="0">
            </div>

            <div class="form-group col-lg-4 col-md-6 col-12">
                <label for="retailPrice">Giá bán:</label>
                <input type="number" class="form-control" id="retailPrice" name="retailPrice" min="0">
            </div>

            <div class="form-group col-lg-4 col-md-6 col-12">
                <label for="creationDate">Ngày tạo:</label>
                <input type="date" class="form-control" id="creationDate" name="creationDate" value="2023-10-08">
            </div>

            <div class="container-fluid">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="image" name="image" accept="image/*">
                    <label class="custom-file-label" for="image">Chọn ảnh</label>
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-outline-success" id="add" value="Thêm">
        <input type="reset" class="btn btn-outline-secondary" id="reset" value="Hủy">
    </form>

    <div class="table-responsive mt-3">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>HÌNH ẢNH</th>
                    <th>BARCODE</th>
                    <th>TÊN SẢN PHẨM</th>
                    <th>DANH MỤC</th>
                    <th>GIÁ NHẬP</th>
                    <th>GIÁ BÁN</th>
                    <th>NGÀY TẠO</th>
                    <th>HÀNH ĐỘNG</th>
                </tr>
            </thead>

            <tbody>
                {{!-- Dùng #each trong handlebars để đọc sản phẩm trong database ở đây. --}}
                {{!-- Bên dưới là dữ liệu mẫu không liên quan đến database --}}
                <tr>
                    <td><img src="/uploads/products/iphone15.png"></td>
                    <td>123456789</td>
                    <td>Iphone 15 Pro</td>
                    <td>Điện thoại</td>
                    <td>30.000.000đ</td>
                    <td>35.000.000đ</td>
                    <td>01/10/2023</td>
                    <td>
                        <button class="btn btn-secondary" onclick="detailProduct('iphone15.png', '123456789', 'Iphone 15 Pro', 'Điện thoại', 30000000, 35000000, '01/10/2023')"><i class="fa-solid fa-circle-info"></i></button>
                        <button class="btn btn-warning" onclick="updateProduct()"><i class="fa-solid fa-pen"></i></button>
                        <button class="btn btn-danger" onclick="deleteProduct()"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td><img src="/uploads/products/ipadair7.png"></td>
                    <td>1654892213</td>
                    <td>Ipad Air 7</td>
                    <td>Máy tính bảng</td>
                    <td>22.000.000đ</td>
                    <td>38.000.000đ</td>
                    <td>08/10/2023</td>
                    <td>
                        <button class="btn btn-secondary" onclick="detailProduct('ipadair7.png', '1654892213', 'Ipad Air 7', 'Máy tính bảng', 22000000, 38000000, '08/10/2023')"><i class="fa-solid fa-circle-info"></i></button>
                        <button class="btn btn-warning" onclick="updateProduct()"><i class="fa-solid fa-pen"></i></button>
                        <button class="btn btn-danger" onclick="deleteProduct()"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td><img src="/uploads/products/iphone14.png"></td>
                    <td>5564893213</td>
                    <td>Iphone 13 Pro</td>
                    <td>Điện thoại</td>
                    <td>11.000.000đ</td>
                    <td>25.000.000đ</td>
                    <td>18/10/2023</td>
                    <td>
                        <button class="btn btn-secondary" onclick="detailProduct('iphone14.png', '5564893213', 'Iphone 13 Pro', 'Điện thoại', 11000000, 25000000, '18/10/2023')"><i class="fa-solid fa-circle-info"></i></button>
                        <button class="btn btn-warning" onclick="updateProduct()"><i class="fa-solid fa-pen"></i></button>
                        <button class="btn btn-danger" onclick="deleteProduct()"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{!-- Modal xem chi tiết sản phẩm --}}
<div class="modal fade" id="modalDetail">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header bg-dark">
          <h4 class="modal-title w-100 text-center text-light" id="modalDetailProductTitle"></h4>
          <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body bg-dark">
            <div class="row py-3">
                <div class="col-4">
                    <img src="/uploads/products/iphone15.png" id="modalDetailProductImage">
                </div>

                <div class="col-8">
                    <div id="modalDetailProductInfo">
                        <h4 id="modalDetailProductBarcode">Chỗ này lấy từ js client qua (ko cần sửa)</h4>
                        <p id="modalDetailProductName">Chỗ này lấy từ js client qua (ko cần sửa)</p>
                        <p id="modalDetailProductCategory">Chỗ này lấy từ js client qua (ko cần sửa)</p>
                        <p id="modalDetailProductImportPrice">Chỗ này lấy từ js client qua (ko cần sửa)</p>
                        <p id="modalDetailProductRetailPrice">Chỗ này lấy từ js client qua (ko cần sửa)</p>
                        <p id="modalDetailProductCreationDate">Chỗ này lấy từ js client qua (ko cần sửa)</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
    
      </div>
    </div>
</div>

{{!-- Modal cập nhật sản phẩm --}}
<div class="modal fade" id="modalUpdate">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title w-100 text-center">CẬP NHẬT SẢN PHẨM</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="updatedBarcode">Barcode:</label>
                    <input type="text" class="form-control" placeholder="VD: 91238129" id="updatedBarcode" name="updatedBarcode">
                </div>

                <div class="form-group col-md-6 col-12">
                    <label for="updatedProductName">Tên sản phẩm:</label>
                    <input type="text" class="form-control" placeholder="VD: Iphone 15" id="updatedProductName" name="updatedProductName">
                </div>

                <div class="form-group col-md-6 col-12">
                    <label for="updatedCategory">Danh mục:</label>
                    <select name="updatedCategory" class="custom-select" id="updatedCategory">
                        <option selected value="Phone">Điện thoại</option>
                        <option value="Tablet">Máy tính bảng</option>
                        <option value="Watch">Đồng hồ thông minh</option>
                        <option value="Adapter">Cục sạc</option>
                        <option value="Cable">Dây sạc</option>
                    </select>        
                </div>

                <div class="form-group col-md-6 col-12">
                    <label for="updatedImportPrice">Giá nhập:</label>
                    <input type="number" class="form-control" id="updatedImportPrice" name="updatedImportPrice" min="0">
                </div>

                <div class="form-group col-md-6 col-12">
                    <label for="updatedRetailPrice">Giá bán:</label>
                    <input type="number" class="form-control" id="updatedRetailPrice" name="updatedRetailPrice" min="0">
                </div>

                <div class="form-group col-md-6 col-12">
                    <label for="updatedCreationDate">Ngày tạo:</label>
                    <input type="date" class="form-control" id="updatedCreationDate" name="updatedCreationDate" value="2023-10-08">
                </div>

                <div class="container-fluid">
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="updatedImage" name="updatedImage" accept="image/*">
                        <label class="custom-file-label" for="updatedImage">Chọn ảnh</label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cập nhật</button>
        </div>
        
      </div>
    </div>
</div>

{{!-- Modal xác nhận xóa sản phẩm --}}
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">XÓA SẢN PHẨM</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Xác nhận xóa sản phẩm...
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Xóa</button>
        </div>
        
      </div>
    </div>
</div>

<script src="/js/productManagement.js"></script>