<link rel="stylesheet" href="/css/productPayment.css">

<div class="container">
    <h2>Thanh toán</h2>
    <form method="POST" action="/product-payment">
        <div class="col-md-6">
            <div class="form-group position-relative">
                <div class="input-group">
                    <input type="search" id="mySearch" placeholder="Nhập tên hoặc barcode" class="form-control">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" onclick="addProduct()"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div id="searchResults" class="dropdown-menu" style="width: 100%;"></div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Barcode</th>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Tổng tiền</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody id="productTableBody">

            </tbody>
        </table>
        
        <p id="totalAmount">Tổng tiền: 0</p>

        <!-- Số điện thoại -->
        <div class="form-group">
            <label for="phone">Số điện thoại:</label>
            <input type="text" id="phone" name="phone" class="form-control" value="{{phone}}">
        </div>
        <!-- Tên người dùng -->
        <div class="form-group">
            <label for "username">Họ và tên:</label>
            <input type="text" id="fullname" name="fullname" class="form-control" value="{{fullname}}">
        </div>
        <!-- Địa chỉ -->
        <div class="form-group">
            <label for "username">Địa chỉ:</label>
            <input type="text" id="address" name="address" class="form-control" value="{{address}}">
        </div>
        <button type="submit" class="btn btn-primary" onclick="checkout()">Thanh toán</button>
        
    </form>
</div>


<script src="/js/productPayment.js"></script>