<div class="container">
    <h2 class="text-center text-success">Danh sách khách hàng</h2>
    <table class="table text-center">
        <thead class="thead-dark">
            <tr>
                <th>Họ và tên</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Lịch sử mua hàng</th>
            </tr>
        </thead>
        <tbody>
        {{#each customers}}
            <tr class="table-success">
                <td>{{fullname}}</td>
                <td>{{phone}}</td>
                <td>{{address}}</td>
                <td>
                    <a href="/payment-history/{{phone}}" class="btn btn-success" style="text-decoration: none; color: white;">
                        <i class="fa-solid fa-eye"></i> Xem
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
