<div class="container">
    <h2>Quản lý khách hàng</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
        {{#each customers}}
            <tr>
                <td>{{fullname}}</td>
                <td>{{phone}}</td>
                <td>{{address}}</td>
                <td>
                    <button class="btn btn-danger"><a href="/payment-history/{{phone}}" style="color: white; text-decoration: none;">Xem lịch sử mua hàng</a></button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
