<div class="container">
    <h2>Oops! Link xác thực đã hết thời hạn. Vui lòng liên hệ với admin để gửi lại mail xác thực</h2>
    <form method="POST" action="/timeout" novalidate>
        <button class="btn btn-light"><a href="/">Về trang chủ</a></button>
    </form>
</div>